.header {
  background-color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}
.navigation {
  display: flex;
  margin: 0 auto;
  gap: 20px;
}
.main {
  border-radius: 5px;
  padding: 10px 15px;
  display: inline-block;
  cursor: pointer;
}
.active {
  color: red;
  border: 1 px solid white;
}
